/* Reset Básico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Propiedades Personalizadas */

:root {

  /* Fuentes */
  --font-primary: "Google Sans", sans-serif;


  /* Colores de Fondo */
  --bg-body: #e8dddd; 
  --bg-container: #675357;
  --border-container: #845747;
  --bg-container-counter: var(--bg-body);
  --bg-task: #ebbac2;
  --bg-task-complete: #aa7d85;
  
  /* Colores de Texto */
  --text-primary: #f5f5f5;
  --text-secundary: #a0a0a5; 
  --text-counter: #292421;

  /* Colores Botones */
  --btn-add-color: #b99099;
  --btn-hide-color: #ac5b67 ;
  --btn-remove-color: #762e3f;

  --btn-add-color-hover: #8e6e75;
  --btn-hide-color-hover: #7f454d ;
  --btn-remove-color-hover: #56212e;

  --btn-text-color: #0f0e0e;
  --btn-text-color-hover: var(--text-primary);

  /* Color Iconos */
  --icon-color: #352020;
  --icon-color-hover: #e1c9d5;

  /* Espacios */
  --space-l: 1rem;
  --space-n: .8rem;
  --space-s: .5rem;

  /* Bordes */
  --border-radius: 4px;
  --border-size: 2px;
  --border-container:#41152b; 

}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  font-family: var(--font-primary);
  padding: var(--space-l);
  background-color: var(--bg-body)
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  width: 100%;
  max-width: 640px;
  height: fit-content;

  padding: var(--space-n);

  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--border-container);
 
  border-radius: var(--border-radius);
  background-color: var(--bg-container);
}

.titulo {
  font-size: 1.6rem;
  color: var(--text-primary);
}

.mensaje {
  font-size: 1rem;
  color: var(--text-secundary);
}

.tarea-entrada {
  width: 100%;
  font-size: 1.2rem;
  padding: var(--space-l);
  border-radius: var(--border-radius);
  border: none;
}

.contenedor-botones {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-n);
  width: 100%;
}

.boton {
  padding: var(--space-s) var(--space-n);
  border: none;
  border-radius: var(--border-radius);
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--btn-text-color);
}

.boton-agregar {
  background-color: var(--btn-add-color);
}

.boton-agregar:hover {
  color: var(--text-primary);
  background-color: var(--btn-add-color-hover);
}

.boton-ocultar {
  background-color: var(--btn-hide-color);
}

.boton-ocultar:hover {
  color: var(--text-primary);
  background-color: var(--btn-hide-color-hover);
}

.boton-eliminar {
  background-color: var(--btn-remove-color);
}

.boton-eliminar:hover {
  color: var(--text-primary);
  background-color: var(--btn-remove-color-hover);
}

.contenedor-conteo {
  display: flex;
  justify-content: space-between;
  gap: var(--space-n);
  padding: var(--space-n);
  background-color: var(--bg-container-counter);
  border: 1px solid var(--border-container);
  border-radius: var(--border-radius);
}

.contenedor-conteo p {
  color: var(--text-counter);
  font-size: .95rem;
}

.tareas-totales,
.tareas-terminadas {
  color: var(--text-secundary);
  font-weight: 700;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-n);
  padding: var(--space-s) var(--space-n);
  border-radius: var(--border-radius);
  background-color: var(--bg-task);
}

.tarea-texto {
  flex-grow: 1;
  flex-shrink: 1;
}

.tareas-iconos {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  gap: var(--space-n);
}

.tareas-iconos i {
  font-size: 1.4rem;
  color: var(--icon-color);
  cursor: pointer;
}

.tareas-iconos i:hover {
  color: var(--icon-color-hover);
}

.tarea-completada {
  background-color: var(--bg-task-complete);
}